<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kanban Board</title>

    <link rel="stylesheet" type="text/css" href = "{% static 'team_kanban/css/kanban.css' %}">
    <link rel="stylesheet" type="text/css" href = "{% static 'team_kanban/css/teamproject_intro.css' %}">
    <script src="{% static 'team_kanban/js/kanban.js' %}"></script>
</head>
<body>

<div class='outer-div'>
            <div class='inner-div'>
            </div>
            <div class="divbox" onclick="location.href='../'">
                <button class="cbtn" id="b1"></button><div class="tbtn" id="tbtn1"><span>{{post.title}}</span></div>
            </div>
            <div class="divbox" onclick="location.href='../meeting_note'">
                <button class="cbtn" id="b2"></button><div class="tbtn" id="tbtn2"><span>Meeting Notes</span></div>
            </div>
            <div class="divbox" onclick="location.href='./'">
                <button class="cbtn" id="b3"></button><div class="tbtn" id="tbtn3"><span>Kanban</span></div>
            </div>
            <div class="divbox"  onclick="location.href='../log'">
                <button class="cbtn" id="b4"></button><div class="tbtn" id="tbtn4"><span>Log</span></div>
            </div>
            <div class="divbox"  onclick="location.href='../../'">
                <button class="cbtn" id="b5"></button><div class="tbtn" id="tbtn5"><span>다른 Project 보기</span></div>
            </div>
    </div>

    <div class="container">
        <div class="kanban-board">
            <div id="div1">
                <div class="kanban-block" id="todo">
                    <div class="colorid"></div>
                    <strong>To Do</strong>
                    {% for todo in todo %}
                        <div class="task" id="task1" onclick="insideKanban('{% url 'inside_kanban' post.id 0 todo.pk %}')">
                            <div><strong>{{todo.title}}</strong></div>
                            <p>
                                <br>
                                <br>
                                <a>Due Date:</a><a>{{todo.date_end}}</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <button id="plus" onclick="createTask(
                '{% url 'create_kanban' post.id 0 %}'
                )">+ 새 글 추가하기
                </button>
            </div>

            <div id="div2">
                <div class="kanban-block" id="doing">
                    <div class="colorid" id="color2"></div>
                    <strong>Doing</strong>
                    {% for doing in doing %}
                        <div class="task" id="task1" onclick="insideKanban(
                        '{% url 'inside_kanban' post.id 1 doing.pk %}'
                        )">
                            <div><strong>{{doing.title}}</strong>
                            </div>
                            <p>
                                <br>
                                <br>
                                <a>Due Date:</a><a>{{doing.date_end}}</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <button id="plus" onclick="createTask(
                '{% url 'create_kanban' post.id 1 %}'
                )">+ 새 글 추가하기
                </button>
            </div>

            <div id="div3">
                <div class="kanban-block" id="done">
                    <div class="colorid" id="color3"></div>
                    <strong>Done</strong>
                    {% for done in done %}
                    <div class="task" id="task1" onclick="insideKanban(
                    '{% url 'inside_kanban' post.id 2 done.pk %}'
                    )">
                        <div><strong>{{done.title}}</strong></div>
                        <p>
                            <br>
                            <br>
                            <a>Due Date:</a><a>{{done.date_end}}</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <button id="plus" onclick="createTask(
                '{% url 'create_kanban' post.id 2 %}'
                )">+ 새 글 추가하기
                </button>
            </div>
        </div>
    </div>
</body>

</body>
</html>