<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
</head>
<body>
    <!-- html 받으면 수정하기 -->

    <div class="inner">
        <div class="listBox">
                <div class="addBox">
                    <div id="log" class="addBox_inner">
                        {% for l in log %}
                            <input id="status" type="checkbox" class="addTxt" placeholder="새로 작성하기">
                            <input id="text" type="text" class="addTxt" value="{{ l.title }}"><br>
                        {% endfor %}
                    </div>
                </div>
                <input onclick="add()" type="button" class="addBtn" value="추가하기">
            </div>
        <div class="listBox_inner"></div>
    
    </div>

    
</body>
</html>