<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
</head>
<body>
    
    <div class="inner">
        <div class="listBox">
                <div class="addBox">
                    <div class="addBox_inner">

                        {% for l in log %}
                            <input type="checkbox" class="addTxt" placeholder="새로 작성하기">
                            <input type="text" class="addTxt" value="{{ l.title }}"><br>
                        {% endfor %}

                    <input type="button" class="addBtn" value="+">
                    </div>
                </div>
    
                <button type="submit">추가하기</button>
            </div>
        <div class="listBox_inner"></div>
    
    </div>
    
</body>
</html>