{% extends 'single/base.html' %}
{% load static %}
{% block main_area %}
    <div class="div">
        <div class="left">
            <div id='calendar'></div>
        </div>
        <div class="right">
            <div id="weekid">
                {% for s in schedule %}
                <div>
                    <div class="weekdaybox" onclick="goModify('/single/modify_post/{{s.pk}}/')">
                        <div id="weekdayid" style="font-size:small" >{{ s.date|date:"m / d  D" }}
                        {% if s.team == teams %}
                            <p>{{teams.team_name}}</p>
                        {% endif %}
                        </div>
                        <div id="colorid"></div>
                            <span id="startid" >{{ s.startTime }}</span><span> - </span><span id="endid" >{{ s.dueTime }}</span>
                            <span id="textid" style="font-weight:bold">{{ s.title }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}