
{% extends 'single/base.html' %}
{% load static %}
{% block main_area %}
{% if user.is_authenticated %}
{% if user.user == schedules.user %}
    <div class="div">
        <div class="left">
            <div id='calendar'></div>
        </div>
        <div class="right">
            <div id="weekid">
                {% for s in schedule %}
                <div>
                    <div class="weekdaybox" onclick="goModify('/single/modify_post/{{s.pk}}/')">
                        <div>
                            <span id="weekdayid" style="font-size:small" >{{ s.date|date:"m / d  D" }}</span>
                            <span id="team_name">{{s.team.team_name}}</span>
                        </div>
                        <div id="colorid"></div>
                            <span id="startid" >{{ s.startTime }}</span><span> - </span><span id="endid" >{{ s.dueTime }}</span>
                            <span id="textid" style="font-weight:bold">{{ s.title }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% else %}
<p>로그인 후 접속해 주세요</p>
{% endif %}
{% endblock %}
