<!DOCTYPE html>
<html>
    <head>
        <style>
            button{
                float:right; 
                margin-right: 20px;
            }
            #save{
                float:left;
                margin-left: 360px;
                margin-right: 10px;
            }
            #center{
                margin:50px;
            }
            input{
                margin-left: 20px;
                margin-right: 20px;
            }
        </style>
        <script>

            function edit(){
                const target = document.getElementById('time1');
                target.disabled = false;
                target.setAttribute('required', '');
                const target2 = document.getElementById('time2');
                target2.disabled = false;
                target2.setAttribute('required', '');
            }
            function save(){
                //e.preventDefault();

                window.opener.postMessage({ sign: "팝업 창에서 보낸 메시지" }); //메시지 이벤트가 트리거 된다. 
                window.close();
                $(opener.location).attr("href", "javascript:parent_func();");
                // opener.document.getElementById("titletext").textContent = doucment.getElementById("title").value;
                // // opener.window.document.myform.mid.value = childForm.mid.value;
                // // document.getElementById("titletext").textContent=title;
                // window.close();
            }
        window.onload = function(){
        var start = opener.document.getElementById("time1").innerHTML;
        var end = opener.document.getElementById("time2").innerHTML;
        if(Math.floor(start/10) == 0){
            document.getElementById("time1").value = "0"+start+":00:00";
        }else{
            document.getElementById("time1").value = start+":00:00";
        }
        if(Math.floor(end/10) == 0){
            document.getElementById("time2").value = "0"+end+":00:00";
        }else{
            document.getElementById("time2").value = end+":00:00";
        }
        }
        </script>
    </head>
    <body>{% csrf_token %}
        <button onclick="edit()">편집</button>
        <form name="editt" method="post">{% csrf_token %}
                <div>
                    <div id="center">
                        <p id="date">2022.10.04</p>
                        <p><input type="radio" name="team" required>개인
                        <input type="radio" name="team"  required>팀</p>
                        <p>시각입력<input id="time1" type="time" disabled>~<input id="time2" type="time" disabled></p>
                        <p>제목<input type="text" id="title" required></p>
                    </div>
                </div>
                <!-- <button type="submit" id="save" onclick="save()">저장</button>   -->
                <button type="submit"> Submit </button>
        </form>                
        <button id="cancel" onclick="window.close()">취소</button>
    </body>
</html>