<!DOCTYPE html>
<html>
    <head>
        <style>
            button{
                float:right; 
                margin-right: 20px;
            }
            #save{
                float:left;
                margin-left: 360px;
                margin-right: 10px;
            }
            #center{
                margin:50px;
            }
            input{
                margin-left: 20px;
                margin-right: 20px;
            }
        </style>
        <script>
            function edit(){
                const target = document.getElementById('time1');
                target.disabled = false;
                target.setAttribute('required', '');
                const target2 = document.getElementById('time2');
                target2.disabled = false;
                target2.setAttribute('required', '');
            }
            function save(){
                //e.preventDefault();
                window.close();
                $(opener.location).attr("href", "javascript:parent_func();");
                // opener.document.getElementById("titletext").textContent = doucment.getElementById("title").value;
                // // opener.window.document.myform.mid.value = childForm.mid.value;
                // // document.getElementById("titletext").textContent=title;
                // window.close();
            }
        window.onload = function(){
            var start = opener.document.getElementById("time1").innerHTML;
            var end = opener.document.getElementById("time2").innerHTML;
             if(Math.floor(start/10) == 0){
                document.getElementById("time1").value = "0"+start+":00";
            }else{
                document.getElementById("time1").value = start+":00";
            }
            if(Math.floor(end/10) == 0){
                document.getElementById("time2").value = "0"+end+":00";
            }else{
                document.getElementById("time2").value = end+":00";
            }
        }

        </script>
    </head>
    <body>
        <form id="formm" name="editt" method="post" >
            {% csrf_token %}
                <div>
                    <div id="center">
                        <p id="date">2022.10.04</p>
                        <p>시각입력<input id="time1" name="time1" type="time" >~<input id="time2" name="time2" type="time"></p>
                        <p>제목<input type="text" name="title" required></p>
                    </div>
                </div>
             <button type="submit"> Submit </button>
            <button id="cancel" onclick="window.close()">닫기</button>
        </form>
    </body>
</html>