<body>
    <div id="con">
    <div id="login">
    <div id="login_form"><!--로그인 폼-->
    <form method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
        <h1 alignd="center" >LOGO</h1>

        <hr>
        <label>
        <!-- <span>ID</span> -->
        <p style="text-align: left; font-size:12px; color:#666">Username</p>
        <input type="text" placeholder="ID" class="size" name="userId">
        <!-- <input type="submit" value="확인"> -->
        <p></p>
        </label>

        <label>
        <!-- <span>PW</span> -->
        <p style="text-align: left; font-size:12px; color:#666">Password </p>
        <input type="text" placeholder="Password" class="size" name="userPsw">
        <!-- <input type="submit" value="확인"> -->
        </label>

        <p>
            <input type="submit" value="Sign in" class="btn">
        </p>
    </form>
    <hr>
    <p class="find">
        <span><a href="http://127.0.0.1:8000/signin/signup/" > 계정이 아직 없으신가요?</a></span>
    </div>
    <div>
    </div><!--con-->
</body>