<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>{{note.title}}</title>
    </head>
    <body>
    <h3>{{ note.title }}
        <button value="편집" onclick="location.href='{% url 'rewrite_note' post.id note.id %}'">편집</button>
        <button value="삭제" onclick="location.href='{% url 'delete_note' post.id note.id %}'">삭제</button>
        <br>
    </h3>

    <h3>{{ note.date_start }}</h3>
    <br>
    <h5>{{ note.introduce|linebreaksbr }}</h5>

    <button onclick="history.go(-1)">뒤로가기</button>
    </body>
</html>