<!DOCTYPE html>
<html lang="kr">
    <head>
            <meta charset="UTF-8">
            <title>note_write</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
            <table>
                <tbody>
                <tr>
                    <td><input type="date" name="date_start" required/></td>
                </tr>
                <tr>
                   <td><h2>{{post.title}}</h2></td>
                </tr>
                <tr>
                    <td><input type="text" name="title" placeholder="회의 제목" required/></td>
                </tr>
                <tr>
                    <td>
                      <h3>참여자
                    {%for p in participants%}
                    <span>{{p.user.last_name}}{{p.user.first_name}}</span>
                    {%endfor%}
                      </h3>
                        <hr>
                    </td>
                </tr>

                <tr>
                    <td>
                        <textarea name="introduce" cols="30"rows="10" required> </textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button type="reset" onclick="history.go(-1)">취소</button>
                        <button type="submit">전송</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>