<!DOCTYPE html>
<html lang="kr">
    <head>
            <meta charset="UTF-8">
            <title>note_write</title>
    </head>
    <body>
    <form method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
        <h4>
            <input type="date" name="date_start"/>
        </h4>
        <h2>
            {{post.team}}
        </h2>
        <h2>
            <input type="text" name="title" placeholder="회의 제목"/>
            <hr>
        </h2>


        참여자 <input type="checkbox" name="person" value="1">김진선
        <input type="checkbox" name="person" value="2">김서영
        <input type="checkbox" name="person" value="3">김수연
        <input type="checkbox" name="person" value="4">노윤하
        <input type="checkbox" name="person" value="5">이우현
        <br><br>

        <textarea name="introduce" cols="30"rows="10"> </textarea>

        <button type="reset" onclick="history.go(-1)">취소</button>
        <button type="submit">전송</button>
        </form>
    </body>
</html>