<!DOCTYPE html>
{% load static %}
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>note_write</title>
        <script src="{% static 'team_project/js/userplus.js' %}"></script>
    </head>
    <body>
    <form method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}

            <table>
                <tr>
                    <td class="title">Team</td>
                    <td class="tf">{{post.team.team_name}}</td>
                </tr>
                <tr>

                </tr>
            </table>
            <button type="submit">전송</button>
    </form>
    </body>
</html>