{% extends 'single/base.html' %}
{% load static %}
{% block main_area %}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>team_project_main</title>
    <title>Page Title</title>
        <link rel="stylesheet" type="text/css" href = "{% static 'team_project/css/teamproject_intro.css' %}">
</head>

<body>

<div class='outer-div'>
            <div class='inner-div'>
    </div>

            <div class="divbox" onclick="location.href='{% url 'create_project' %}'">
                <button class="cbtn" id="b1" onclick="btnclick()"></button><div class="tbtn" id="tbtn1" value="프로젝트 생성"><span>프로젝트 생성</span></div>
            </div>
            {% for p in posts %}
            <div class="divbox" onclick="location.href='{% url 'project_detail' p.project.pk %}'">
                <button class="cbtn" id="b1" onclick="btnclick()"></button><div class="tbtn"><span>{{ p.project.title }}</span></div>
            </div>
            {% endfor %}
</div>

</body>
</html>
{% endblock %}