<!DOCTYPE html>
{%load static%}
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>note_write</title>
            <link rel="stylesheet" type="text/css" href = "{% static 'team_project/css/teamproject_intro.css' %}">
            <link rel="stylesheet" type="text/css" href = "{% static 'team_project/css/teamproject_rewrite.css' %}">

    </head>
    <body>
    <div class='outer-div'>
            <div class='inner-div'>
            </div>
            <div class="divbox" onclick="location.href='../'">
                <button class="cbtn" id="b1"></button><div class="tbtn" id="tbtn1"><span>{{post.title}}</span></div>
            </div>
            <div class="divbox" onclick="location.href='./meeting_note'">
                <button class="cbtn" id="b2"></button><div class="tbtn" id="tbtn2"><span>Meeting Notes</span></div>
            </div>
            <div class="divbox" onclick="location.href='./kanban'">
                <button class="cbtn" id="b3"></button><div class="tbtn" id="tbtn3"><span>Kanban</span></div>
            </div>
            <div class="divbox"  onclick="location.href='./log'">
                <button class="cbtn" id="b4"></button><div class="tbtn" id="tbtn4"><span>Log</span></div>
            </div>
            <div class="divbox"  onclick="location.href='../../'">
                <button class="cbtn" id="b5"></button><div class="tbtn" id="tbtn5"><span>다른 Project 보기</span></div>
            </div>
    </div>

    <form method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
    <h1><input name="title" id="pjnwrite" type="text" id="text" value="{{post.title}}" required></h1>

        <text id="st">시작</text>
        <input name="date_start" type="date" id="fdate" value="{{ post.date_start | date:'Y-m-d'}}" required>
        <text id="la">마감</text>
        <input name="date_end" type="date" id="ldate" value="{{ post.date_start | date:'Y-m-d'}}" required><br>

        <text id="to">팀원</text>
        <text id="tpeople">{%for p in participants%}
                                <span>{{p.user.last_name}}{{p.user.first_name}} </span>
                            {%endfor%}</text>
        <text id="repeo">팀원을 수정하세요.</text>

        <div class="tabox">
            <textarea id="ta" cols="30"rows="10" name="introduce" required>{{post.introduce}}</textarea>
        </div>

        <button id="chiso" onclick="history.go(-1)">취소</button>
        <button id='jeojang' type="submit">저장</button>

    </form>
    </body>
</html>